*, body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body
{
    background-color: #09090B;
}

#terminal
{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #16151a;
    display: block;
    width: 90vw;
    height: 90vh;
    border-radius: 10px;
    overflow-y: hidden;
}

#terminal-top
{
    margin-top: 2vh;
    display: flex;
    flex-direction: row;
}

.directory
{
    position: relative;
    margin-top: -3px;
    margin: 0 auto;
    font-family: "Ubuntu Light", sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    left: 0;
    right: 0;
}
.option-buttons
{
    position: absolute;
    display: inline-flex;
    direction: ltr;
    margin-left: 1vw;
}

.option-button
{
    content: "";
    display: block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: 7px;
    margin-left: 7px;
}

#terminal-content
{
    display: flex;
    flex-direction:column;
    margin-top: 2vh;
    width: 100%;
}

#bashrc
{
    display: inline-flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.team-logo
{
    width: calc(308px * 0.75);
    height: auto;
}

.shell
{
    margin-left: 2vw;
    font-family: "Menlo Regular", monospace;
    font-size: 1.02em;
}

.shell > div
{
    margin-top: 10px;
}

.team-motto
{
    margin-top: 2px;
    font-size: 0.94em;
    font-family: "Menlo Regular";
}

.close
{
    background: #fa6360;
}

.maximize
{
    background: #fbbe40;
}

.minimize
{
    background: #34c248;
}

.current-directory
{
    color: #37a9d1;
}

.current-branch
{
    color: #4dc99c;
}

.form-link
{
    text-decoration: none;
    border-bottom: 1px dashed white;
}

.typing
{
    background: white;
    -webkit-animation: flashing-typing 2s infinite;
    animation: flashing-typing 1s infinite;
    animation-timing-function: step-end;
    margin-left: -4px;
}

@font-face
{
    font-family: "Menlo Regular";
    src: url("./static/font/Menlo-Regular.ttf");
}

@-webkit-keyframes flashing-typing {
  0%   {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes flashing-typing {
  0%   {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@media only screen and (max-width: 648px) {
    .fullscreen-option
    {
        display: none;
    }

    #terminal
    {
        height: 100vh;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 320px) {
    .option-button
    {
       display: none;
    }

    .fullscreen-option
    {
        display: none;
    }
}